        <div style="{{style1}}">
            <img class="parametre_graph_pos" src="static/images/system/screensaver/3dmaze.gif" alt="Ecran de veille">
            <img class="parametre_graph_pos" src="static/images/system/screensaver/nyancat.gif" alt="Ecran de veille">
            <img class="parametre_graph_pos" src="static/images/system/screensaver/retrowave.gif" alt="Ecran de veille">
            <img class="parametre_graph_pos" src="static/images/system/screensaver/windows.gif" alt="Ecran de veille">
            <img class="parametre_graph_pos" src="static/images/system/screensaver/windows2.gif" alt="Ecran de veille">
            <img class="parametre_graph_pos" src="static/images/system/screensaver/flowerbox.gif" alt="Ecran de veille">
            
            <img class="parametre_graph_pos" src="static/images/system/screensaver/pokemon.gif" alt="Ecran de veille">
            <img class="parametre_graph_pos" src="static/images/system/screensaver/sega.gif" alt="Ecran de veille">

        </div>
        <form action="{{action}}" method="post">
			<div style="{{style2}}">
                    <input class="para_choix" type="radio" name="SCR" value="3dmaze.gif"> 
                    <input class="para_choix" type="radio" name="SCR" value="nyancat.gif">
                    <input class="para_choix" type="radio" name="SCR" value="retrowave.gif">
                    <input class="para_choix" type="radio" name="SCR" value="windows.gif"> 
                    <input class="para_choix" type="radio" name="SCR" value="windows2.gif">
                    <input class="para_choix" type="radio" name="SCR" value="flowerbox.gif">
                    <input class="para_choix" type="radio" name="SCR" value="pokemon.gif"> 
                    <input class="para_choix" type="radio" name="SCR" value="sega.gif">

