
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_default.png" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_E2000.png" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_lycee.jpg" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_linuxmint.jpg" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_windows.jpg" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_windows10.gif" alt="Fond d'écran">
            
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_chambre.gif" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_sonic.jpg" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_sonicXP.gif" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_pokésoft98.png" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_pokésoft7.png" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_minecraft.png" alt="Fond d'écran">
            
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_art.png" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_gobou.jpg" alt="Fond d'écran">
            <img class="parametre_graph_pos" src="static/images/system/wallpaper/WP_marissonlegrand.jpg" alt="Fond d'écran">
        </div>
		<form action="/{{lien1}}" method="post">
			<div style="{{style1}}">      
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_default.png"> 
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_E2000.png">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_lycee.jpg">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_sartrouville.jpg"> 
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_windows.jpg">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_windows10.gif">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_chambre.gif"> 
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_sonic.jpg">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_sonicXP.gif">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_pokésoft98.png"> 
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_pokésoft7.png">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_minecraft.png">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_art.png">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_gobou.jpg">
                    <input class="para_choix" type="radio" name="{{name1}}" value="WP_marissonlegrand.jpg">

