<div class="blochaut">
    
    <h1 class="blochaut">{{titre}}</h1>
    <p class="blochaut">
    {{info}}
    </p>
    <img class="blochaut" src="static/images/system/parametres/windowslogo.png" alt="Logo windows">
    </div>
    <img class="barre1" src="static/images/system/barre.png" alt="barre">
    
    <div class="bloccote">
    <img class="bloccote" src="static/images/system/windowsbleu.png" alt="Logo windows">
    </div>
    

	<img class="droite" src="static/images/system/icons/{{img}}" alt="icône">
	<p class="droite" >{{description}}</p>

    
    
    <img class="barre2" src="static/images/system/barre.png" alt="barre">